# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY=your_api_key_here #API-ключ для вывода валют
API_KEY_STONCKS=your_api_key_here #API-ключ для вывода акций